.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar-brand{
    margin-left: 150px;
}
.d-flex {
    margin-right: 150px;
}

/* 
.dropdowm {
    margin-left: 150px;
} 

#id {

    margin-right: 150px;
}
*/
 .dropdowm-toggle.text-light  {
    margin: 130px;
    cursor: pointer;
        
} 

.dropdown-item{

    margin-right: 130px;
    margin-left: 130px;
    padding: 0px;
} 